.box
{
    padding: 24px;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
}

.form
{
    
}

.title
{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
    color: red;
}

.name
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 12px;
}

.email
{
    width: 100%;
}

.other
{
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}